<Languages><List>
	<Language Name="francais">
		<DisplayName>Français</DisplayName>
		<Icon>frflag.png</Icon>
		<!--0:CNMODE 1:ENMODE-->
		<UIMode>1</UIMode>
		<Desc>langue française</Desc>
		<!--Word Connect with space-->
		<SpaceConnect>true</SpaceConnect>
		<!--FamilyName Postposition-->
		<FamilyPostposition>false</FamilyPostposition>
		 <!--change the labelword in StoryTxt -->
		<Labels>
			<li Label="[ENHIM]" SecondPersonF="elle" SecondPersonM="il"/>
			<li Label="[ENHERS]" SecondPersonF="elles" SecondPersonM="ils"/>
			<li Label="[ENHIM2]" ThirdPersonF="elle" ThirdPersonM="il"/>
			<li Label="[ENHERS2]" ThirdPersonF="elles" ThirdPersonM="ils"/>
		</Labels>
	</Language>
</List></Languages>